<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Todo詳細ページ</h1>
<div>
    <form action="http://localhost:8080/todo/edit/{{ .Id }}" method="post">
        <label for="content">内容: </label>
        <input type="text" name="content" value="{{ .Content }}">
        <input type="submit" value="編集">
    </form>
</div>

</body>
</html>
